// module 'Client'
.mod-client {
  padding: 30px 0;
  text-align: center;
  background-color: #f2f1f1;
}

.client-head {
  color: #b7b3b3;
}

.client-logo {
  @extend .row;
  .link-logo {
    @extend .col-lg-3;
    @extend .col-sm-6;
    @extend .col-12;
    padding: 40px 0;
  }
}

.btn-link--team {
  background-color: #dddcdc;
  color: #a59d9d;
  font-weight: 700;
  &:hover {
    background-color: $blue;
    color: $white;
  }
}
