// module 'Header'
.mod-header{    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    &::after{
        content: "";
        background: linear-gradient($black, rgba(255, 255, 255, 0));
        opacity: 0.5;
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    // .navbar{
    //     font-size: 16px;
    //     padding-top: 0;
    //     ul{
    //         color: $white;
    //         display: inline;
    //         li{
    //             display: inline-block;
    //             margin-right: 20px;
    //             margin-bottom: 0;
    //             border-top: 5px solid transparent;
    //             &:hover{
    //                 border-top-color: $blue;
    //                 font-weight: 700;
    //             }
    //         }
    //     }
        form{
            color: black;
            position: relative;
            input{
                background-color: $white;
                width: 180px;
                height: 30px;
                border-radius: 30px;
                border: none;
            }
            .button-search{
                background-color: transparent;
                border: none;
                position: absolute;
                top:50%;
                right: 5px;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }
        ::placeholder {
            color: black;
            opacity: 1;
        }
    }    
// }
@media screen and (max-width:768px){
    .navbar{
        padding: 0;
        .navbar-brand{
            position: fixed;
            top: 0;
            left: 40%;
        }
        form{
            position: fixed;
            top: 0;
            right: 0;
        }
    }
    ul{
        background-color: #828181;
    }
    li{
        display: block;
        width: 100%;
        padding: 5px;
    }
    
}