// module 'Header'
.mod-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  &::after {
    content: "";
    background: linear-gradient($black, rgba(255, 255, 255, 0));
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
  }
}

.header-navbar {
  font-size: 16px;
  padding-top: 0;
  .navbar-nav {
    color: $white;
    display: inline;
    .nav-item {
      display: inline-block;
      margin-right: 1vw;
      margin-bottom: 0;
      border-top: 5px solid transparent;
      &:hover,
      &.active {
        border-top-color: $blue;
        font-weight: 700;
      }
    }
    .nav-link {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .navbar-brand {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin-right: 0;
  }
}

.header-form {
  color: $black;
  position: relative;
  .input {
    background-color: $white;
    width: 180px;
    height: 30px;
    border-radius: 30px;
    border: none;
    padding: 0 10px;
  }
  .button-search {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

::placeholder {
  color: $black;
  opacity: 1;
}

@include media-breakpoint-down(lg) {
  .navbar-toggler {
    border-color: transparent;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-color: #828181;
      opacity: 0;
      transition: .25s all;
    }
    &[aria-expanded="true"] {
      &::after {
        opacity: 1;
      }
    }
  }
  .navbar {
    padding: 0;
    .navbar-nav {
      display: block;
      .nav-item {
        display: block;
        width: 100%;
        padding: 5px;
        &:hover,
        &.active {
          border-top-color: transparent;
        }
      }
    }
  }
  .header-form {
    position: fixed;
    top: 0;
    right: 0;
    .input {
      width: 40px;
      background-color: transparent;
      color: transparent;
      transition: .25s all ease-out;
      &::placeholder {
        color: transparent !important;
      }
      &+.button-search {
        z-index: -1;
        background-color: $white;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        transition: .5s all;
      }
      &:focus {
        width: 180px;
        background-color: $white;
        color: initial;
        &+.button-search {
          z-index: 1;
          background-color: transparent;
          border-radius: 50%;
        }
      }
    }
  }
}
