// module 'Testimonials'
.mod-testimonials {
  padding: 40px 0;
  text-align: center;
  .slick-next,
  .slick-prev {
    @extend .iconmoon;
    @extend .icon-keyboard_arrow_right;
    font-size: 0;
    z-index: 1;
    &::before {
      font-size: 40px;
    }
  }
  .slick-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(180deg);
  }
  .slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.testimonials-head {
  color: #b7b3b3;
}

.testimonials-text {
  max-width: 485px;
  margin: 0 auto;
  font-weight: 500;
  color: #444;
  .author {
    margin: 0;
    .img,
    .text {
      display: inline-block;
      vertical-align: middle;
    }
    .img {
      padding: 3px;
      text-align: right;
    }
    .text {
      padding: 0;
      text-align: left;
      margin: 0;
    }
    span {
      color: #ccc;
      display: block;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 767px) {
  .testimonials-text {
    padding: 0 20px;
  }
}
